.Prompt {
    font-family: 'Prompt', sans-serif;
}

.Mohave {
    font-family: 'Mohave', sans-serif;
}

.color01 {
	color: #16151b;
}

.color02 {
    color: #111015;
}

.color03 {
    color: #e7e7e7;
}

.color04 {
    color: #f49f22;
}

.bg-black-20 {
    background-color: rgba(0, 0, 0, .2)
}

.bgcolor01 {
	background-color: #16151b;
}

.bgcolor02 {
	background-color: #111015;
}

.bgcolor03 {
	background-color: #e7e7e7;
}

.bgcolor04 {
	background-color: #f49f22;
}

.txt-size01 {
    font-size: 0.8em;
}

.txt-size02 {
    font-size: 0.9em;
}

.txt-size03 {
    font-size: 1.1em;
}

.txt-size04 {
    font-size: 1.2em;
}

.txt-size05 {
    font-size: 1.4em;
}

.txt-size06 {
    font-size: 2em;
}

.txt-size07 {
    font-size: 3em;
}

.txt-size08 {
    font-size: 6em;
}

.txt-size09 {
    font-size: 8em;
}

.font-bold {
    font-weight: 800;
}

.text-shadow {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

.list-none {
    list-style-type: none;
}

.border-box {
    box-sizing: border-box;
}

.Vh-50 {
    height: 50vh;
}

.Vh-100 {
    height: 100vh;
}

.decoration-none {
    text-decoration: none;
}

.text-shadow {

}

/* Menus */
#logotipo-nav {
    width: 140px;
    height: auto;
}

.nav-link {
    padding: 4px 8px!important;
}

/* Banner */
#Banner {
    height: 100%;
    height: 500px;
    max-height: 500px;
}

#carrousel01 {
    background-image: url("../Imagens/SABanner01.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 500px;
}

#carrousel02 {
    background-image: url("../Imagens/SABanner02.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 500px;
}

/* Frase de efeito */
#fraseEfeito {
    background-image: url("../Imagens/SA_pattern.jpg");
    background-clip: border-box;
    background-repeat: repeat;
    background-size: 100%;
    background-position: left top;
}

/* Preço */
#Preco {
    background-image: url("../Imagens/ImgPreco.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}

/* Informações técnicas */
#infoTecnicas {
    background-image: url("../Imagens/");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: auto;
}

.specsSize {
    min-height: 280px;
    max-height: 340px;
}

/* Grid */
.section-parts {
    height: 400px;
    /* background-color:; */
}

#grid01 {
    width: 100%;
    height: auto;
    background-image: url("../Imagens/Grid01.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nao sei ainda */
#nunsei {
    width: 100%;
    height: 300px;
    background-image: url("../Imagens/");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: auto;
}

/* footer */
.footer-link:hover {
    color: #f49f22;
    transition: color 0.3s ease-in;
}

.icon-media {
    color: white;
    transition: all 0.3 ease-in;
}

.icon-media:hover {
    color: #f49f22;
}